---
import DownloadIcon from "./icons/Download.astro";

interface Props {
  cvUrl?: string;
}

const { cvUrl } = Astro.props;
---

{
  cvUrl && (
    <a
      href={`${cvUrl}?filename="Daria Artemova CV.pdf"`}
      target="_blank"
      rel="noopener noreferrer"
      class="download-cv"
      aria-label="Download CV"
    >
      <DownloadIcon class="icon" />
      <slot>Download CV</slot>
    </a>
  )
}

<style>
  .download-cv {
    width: fit-content;
    position: relative;
    z-index: 1;
    padding: var(--spacing-6) var(--spacing-16);
    padding-right: var(--spacing-24);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-16);
    border: 1px solid var(--black);
    font-size: var(--font-size-16-20);
    font-weight: 600;
    transition: color 0.5s ease-in-out;
    overflow: hidden;
  }

  .download-cv::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black);
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
  }

  .download-cv:hover {
    color: var(--white);
  }

  .download-cv:hover::before {
    transform: scaleX(1);
  }

  .icon {
    width: var(--font-size-24-32);
    height: var(--font-size-24-32);
  }

  @media (max-width: 48rem) {
    .download-cv {
      padding: var(--spacing-6) var(--spacing-12);
      padding-right: var(--spacing-16);
    }
  }
</style>
