---
import { client, urlFor } from "../lib/sanity";
import WidthContainer from "./WidthContainer.astro";

const data = await client.fetch(
  `*[_type == "homePage"][0] { title, heroImage }`,
);
const { title, heroImage } = data || {};
---

<section class="hero-section">
  <h1 class="visually-hidden">{title}</h1>

  {
    heroImage && (
      <WidthContainer>
        <img src={urlFor(heroImage).url()} alt="" role="presentation" />
      </WidthContainer>
    )
  }

  <div class="blue-rectangle"></div>
</section>

<style>
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }

  .hero-section {
    padding: var(--spacing-128) 0;
    position: relative;
  }

  .blue-rectangle {
    width: 46.5%;
    margin-left: auto;
    position: absolute;
    inset: 0;
    z-index: -1;
    background-color: var(--blue);
  }

  @media (max-width: 48rem) {
    .blue-rectangle {
      width: 77.5%;
    }
  }
</style>
