---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Section from "../components/Section.astro";
import Hero from "../components/Hero.astro";
---

<Layout>
  <Header />

  <main class="main">
    <Hero />

    <Section id="about">
      <h2>About</h2>
    </Section>

    <Section id="experience">
      <h2>Experience</h2>
    </Section>

    <Section id="projects">
      <h2>Pet Projects</h2>
    </Section>

    <Section id="contacts">
      <h2>Contacts</h2>
    </Section>
  </main>
  <Footer>
    {/* Footer placeholder */}
  </Footer>
</Layout>

<style>
  .main {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-128);
  }

  @media (max-width: 48rem) {
    .main {
      gap: var(--spacing-64);
    }
  }
</style>
